<ul class="nav nav-tabs">
  <li><a href="javascript:void()">Profile</a></li>
  <li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
  <li><a href="#comments" data-toggle="tab">Comments</a></li>
  <li><a href="javascript:void()">Messages</a></li>
</ul>


 <div class="tab-content" style="padding-top: 10px">
   <div id="reviews" class="tab-pane active">
		<%reviews.each(function(review) { %>
			<div class="embedded" id="<%=review.get('id')%>"></div>
			<hr>
		<% }) %>
   </div>
   <div id="comments" class="tab-pane">
		<%comments.each(function(comment) { %>
			<li><%=comment.get('body')%></li>
		<% }) %>
   </div>
</div>

