<blockquote>
  <div>
  	<span id='star'></span>
  	<span><%= review.get('title') %><span>
  </div>
  <p><%= review.get('body').substr(0, maxLength)%> <a href="#reviews/<%=review.get('id')%>">Read More</a></p>
  <small><%= user.get('username') %></small>
</blockquote>