<h2>Reviewing <%= boardgame.get('title') %></h2>
<form>
<div class="well">
	  <div class="form-group">
	      <input type="text" class="form-control" placeholder="Review Title..." name="review[title]"></input>
	  </div>
	  <div class="form-group">
			  <div id='star'></div>
	  </div>			  
	  <div class="form-group">
	      <textarea class="form-control" rows="3" placeholder="Leave a review..." name="review[body]"></textarea>
	  </div>
	  <input type="hidden" name="review[boardgame_id]" value="<%=boardgame.get('id')%>">
	  <div class="form-group">
		  <button type="submit" class="btn btn-primary">Post Review</button>
	  </div>
  </div>
</form>		  