<h2>Reviewing <%= boardgame.get('title') %></h2>
<form>
	<label for="title">Title</label>
	<input type="text" id="title" name="review[title]">
	<br>
	<label for="body">Review</label>
	<input type="textarea" id="body" name="review[body]">
	<br>
	<input type="hidden" name="review[boardgame_id]" value="<%=boardgame.get('id')%>">
	<div id='star'></div>

	<input type="submit" value="Submit Review">
</form>
