TODO: Embedded BoardGame View should be injected here at the top

<div id="boardgame-info"></div>


<h2><%= review.get('title')%></h2>
<h5>Reviewed by: <%= user.get('username') %></h5>
<%= review.get('body') %>