<div id="boardgame-info"></div>


<h2><%= review.get('title')%></h2>
<h4>Reviewed by: <%= user.get('username') %>  Rating: <div id="star"></div>
Check Rating:<%= review.get('rating') %></h4>
<div class="wrapper-test">
	<%= review.get('body') %>
</div>