<h3><%= boardgame.get('title') %></h3>
<div style="width:200px;height:200px" >
   <img src="<%= boardgame.get('image') %>" width="auto" height="200px">
</div>
Avg Rating: <div id="star"></div>
<p>Rating: <%= boardgame.get('rating')%></p>
Description: <%= boardgame.get('description') %>