<%= boardgame.get('title') %>
<a href="#boardgames/<%= boardgame.get('id') %>/reviews/new">Review this Game</a>
<h1>Reviews</h1>
<ul>
	<%reviews.each(function(review) { %>
		<li class="embedded" id="<%=review.get('id')%>"></li>
	<% }) %>
</ul>
