
<script type="application/json" id="bootstrapped-current-user-id">
	<% if current_user %>			
		<%user_id = current_user.id %>			
	<% else %>
		<%user_id = nil %>
	<% end %>
	{"current_user_id": <%= user_id.to_json.html_safe %>} 
</script> 




<script>
$(document).ready(function(){
  GoodBoardsApp.initialize();
	$('input#test').typeahead({
    	name: 'boardgames',
		valueKey: 'title',
		prefetch: {
			url: '/api/boardgames.json',
		    ttl: 1,
			filter: function(data) {
				retval = [];
				for (var i = 0;  i < data.length;  i++) {
			        	retval.push({
			                	id: data[i].id,
				                title: data[i].title
				        	});
				}
        		return retval;
			} 
		}
	});

	$('input#test').on('typeahead:selected', function (object, datum) {
    		console.log(datum);
		window.location.href = '/#boardgames/' + datum.id;
	});

});
</script>
Search: <input type= "text" id="test">
<div id='content'></div>
