HI USER! THIS IS A FILLER.
SOON THIS WILL KICK OFF A BACKBONE THINGAMAJIG

<script>
	$(document).ready(function(){
	  GoodBoardsApp.initialize(
	  	// some stuff here
	  	);
	});
</script>

<div id='content'>
</div>