<script>
	$(document).ready(function(){
	  GoodBoardsApp.initialize(
	  
	  	);
	//   $(".wrapper").dotdotdot({
	//   	ellipsis: "... ",
	//   	height: 2,
	//   	watch: true,
	//   	wrap: 'letter',
	//   	after: "a.readmore"
	//   })
	});
</script>

<div id='content'>
</div>