/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "typeahead";
@import "bootstrap";
@import "app";
@import "style";
@import "header1";
@import "responsive";
@import "blog";

.sister-font {
	font-family: 'Love Ya Like A Sister', cursive;
}

.boardgame-tiles {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
   
}

.boardgame-tiles img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

#masonry {
  background: #EEE;
  margin: 0 auto;	
  
}

#masonry img {
  width:  228px;
  height: auto;
  float: left;
  background: #D26;
  border: 0px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 0px;
}
 


