<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Good Boards</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <% if (current_user.id) {%>
                    <li><a href="/#users/<%= current_user.id %>"><%= current_user.get('username') %></a></li>
                    <li><a href="#" id="sign-out">Sign Out</a></li>
                  <% }else{ %>
                    <li><a href="#signInModal" role="button" class="btn" data-toggle="modal">Sign In</a></li>
                    <li><a href="#signUpModal" role="button" class="btn" data-toggle="modal">Sign Up</a></li>
                  <% }%>
              </ul>
              <form class="navbar-form navbar-right search-submit" role="search">
                  <div class="form-group">
                  <input type="text" class="typeahead" id="search" placeholder="Search" name="boardgame[title]">
                  </div>
              </form>
          </div>
          <!-- /.navbar-collapse -->
      </div>
    
</nav>
<div id="sign-in-modal"></div> 





<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Signup for Free Account</h3>
      </div>
      <div class="modal-body">
        <form>
          <fieldset>
              <div class="form-group">
                  <input class="form-control" placeholder="Username" type="text" id="username" name="user[username]" autofocus>
              </div>
              <div class="form-group">
                  <input class="form-control" placeholder="Password" type="password" name="user[password]">
              </div>
              <div class="form-group">
                  <input class="form-control" placeholder="Email" type="email" name="user[email]">
              </div>
              <!-- Change this to a button or input when using this as a form -->
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
              <input class="btn btn-lg btn-success btn-block" type="submit" value="Sign Up">
          </fieldset>
      </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->