<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Good Boards</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-left">
                    <li><a href="/#boardgames/top">Top Games</a></li>
                    <li><a href="/#boardgames/worst">Shitty Games</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <% if (current_user.id) {%>
                    <li><a href="/#users/<%= current_user.id %>"><%= current_user.get('username') %></a></li>
                    <li><a href="#" id="sign-out">Sign Out</a></li>
                  <% }else{ %>
                    <li><a href="#signInModal" role="button" class="btn" data-toggle="modal">Sign In</a></li>
                    <li><a href="#signUpModal" role="button" class="btn" data-toggle="modal">Sign Up</a></li>
                  <% }%>
              </ul>
              <form class="navbar-form navbar-right search-submit" role="search">
                  <div class="form-group">
                  <input type="text" class="typeahead" id="search" placeholder="Search" name="boardgame[title]">
                  </div>
              </form>
          </div>
          <!-- /.navbar-collapse -->
      </div>
    
</nav>
<div id="sign-in-modal"></div> 
<div id="sign-up-modal"></div>



<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>