<h1> Welcome to GoodBoards</h1>
	<section id="masonry">
				<%= console.log(boardgames) %>
				<% boardgames.each(function(boardgame) { %>
				<img src="<%= boardgame.get('image') %>">
			<%	}) %>
	</section>



