<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Sign In</h3>
      </div>
      <div class="modal-body">
      <div id="signin-modal-body"></div>
        <form >
        <fieldset>
            <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="icon-user"></i></span>
                    <input class="form-control" placeholder="Username" type="text" id="username" name="user[username]" autofocus>
                </div>
            <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                    <input class="form-control" placeholder="Password" type="password" name="user[password]">
            </div>
            <div class="checkbox">
                <label>
                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                </label>
            </div>
            <input class="btn btn-success pull-right" type="submit" id ="login-submit" value="Sign In">
        </fieldset>
    </form>
      </div>
    </div>
  </div>
</div>









