<!DOCTYPE html>
<html>
<head>
  <title>GoodBoardsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <script>
  $(document).ready(function(){
    GoodBoardsApp.initialize();

    var navbar = new GoodBoardsApp.Views.NavBar();
    $("#navbar").html(navbar.render().$el);

    $('input#search').typeahead({
        name: 'boardgames',
      valueKey: 'title',
      prefetch: {
        url: '/api/boardgames/prefetch.json',
          ttl: 1,
        filter: function(data) {
          retval = [];
          for (var i = 0;  i < data.length;  i++) {
                  retval.push({
                          id: data[i].id,
                          title: data[i].title
                    });
          }
              return retval;
        } 
      }
    });

    $('input#search').on('typeahead:selected', function (object, datum) {
          console.log(datum);
      window.location.href = '/#boardgames/' + datum.id;
    });

    $("input#search").on("keypress", function(event) {
      if(event.which == 13) {
        event.preventDefault();
        window.location.href= '/#boardgames/' + ($("input#search").val());
      }
    });
  });
  </script>
</head>

<body>


<div id="navbar"></div>
<div class="container">
<%= yield %>
</div>
</body>
</html>
